.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    button {
        margin: 5px;
        padding: 8px 12px;
        cursor: pointer;
        border: none;
        background-color: #e0e0e0;
    }

    button.active {
        background-color: #007bff;
        color: #fff;
    }
}