.tradelog-tbl .dropdown-toggle {
  background-color: white !important;
  border-radius: none;
  border-radius: 2px;
  color: #1f2937;
  border: unset;
}

.table_wrapper .table-responsive {
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  background-color: #f6f6f6;
  border-radius: 15px;
  border-spacing: 0;
  border-collapse: separate;
}
.table_wrapper .table-responsive table thead tr {
  height: 60px;
}
.table_wrapper .table-responsive table thead tr th {
  white-space: nowrap;
  border-color: #dbdbdb;
  padding: 0.5rem 1.5rem;
  vertical-align: middle;
}
.table_wrapper .table-responsive table thead tr:last-child {
  border: none;
}
.table_wrapper .table-responsive table tbody tr {
  height: 60px;
}
.table_wrapper .table-responsive table tbody tr td {
  white-space: nowrap;
  border-color: #dbdbdb;
  padding: 0.5rem 1.5rem;
  vertical-align: middle;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.table_wrapper .table-responsive table tbody tr td select {
  min-width: 140px;
  border-radius: 5px;
  background: #fff;
  border: none;
  align-items: center;
  display: flex;
  width: 138px;
  height: 35px;
  padding: 6px 7px;
  gap: 54px;
}
.table_wrapper .table-responsive table tbody tr td .submit-btn {
  padding: 9px 16px;
  background: #0075ff;
  color: white;
  border-radius: 4px;
  text-transform: capitalize;
  border: 1px solid transparent;
  min-width: 70px;
  font-size: 16px;
  font-weight: 500;
}
.table_wrapper .table-responsive table tbody tr td .submit-btn:hover {
  border-color: #7d67ff;
  color: #7d67ff;
  background-color: #fff;
}
.table_wrapper .table-responsive table tbody tr td .button {
  padding: 9px 16px;
  background: #fff;
  color: #7d67ff;
  border-radius: 4px;
  text-transform: capitalize;
  border: 1px solid #7d67ff;
  min-width: 85px;
  font-size: 16px;
  font-weight: 500;
}
.table_wrapper .table-responsive table tbody tr td .button:hover {
  border-color: #fff;
  color: #fff;
  background-color: #7d67ff;
}
.table_wrapper .table-responsive table tbody tr td input {
  border: 1px solid #ccc;
  height: 35px;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 147px;
}
.table_wrapper .table-responsive table tbody tr td input:focus {
  outline: unset;
}
.table_wrapper .table-responsive table tbody tr:last-child {
  border: none;
}
.table_wrapper ::-webkit-scrollbar-track {
  border-radius: 10px;
}
.table_wrapper ::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}
.table_wrapper ::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #7d67ff;
}

.save-btn {
  padding: 9px 16px;
  background: #7d67ff;
  color: white;
  border-radius: 4px;
  text-transform: capitalize;
  border: 1px solid transparent;
  min-width: 100px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  font-size: 19px;
  font-weight: 500;
}
.save-btn:hover {
  border-color: #7d67ff;
  color: #7d67ff;
  background-color: #fff;
}/*# sourceMappingURL=tradelog.css.map */